In [1]:
from bs4 import BeautifulSoup as bs
from time import sleep
import requests
import re
import csv

In [2]:
'''
Find the total number of listings
'''
def total_pages(soup):
    element = soup.find("p", class_="vehiclenum").text.strip().split(" ")[0]
    num_of_listings = int(element.replace(",",""))
    num_of_pages = num_of_listings // 100 + 1
    return num_of_pages

In [28]:
'''
Get listing links for one page
'''
def get_links(soup):
    links = []
    domain = "https://www.sgcarmart.com/used_cars/"
    for item in soup.findAll('strong'):
        try:
            link = item.find('a')
            if 'info' in link['href']:
                links.append(domain + link['href'])
        except:
            continue
    return links

'''
Get all the features of a listing
'''
def get_name(soup):
    try:
        name = soup.find('div',{'id':'toMap'}).text.strip()
    except:
         name = 'NA'
    return name

def get_price(soup):
    try:
        price = soup.find('td',{'class':'font_red'}).text.strip()[1:]
    except:
        price = 'NA'
    return price

def get_depre(soup):
    try:
        depre = re.findall(r'\d+,\d+',soup.findAll('tr',{'class':'row_bg'})[1].find('td',{'class':None}).text)[0]
    except:
        depre = 'NA'
    return depre

def get_miles(soup):
    try:
        mileage = re.findall(r'\d+,\d+',soup.find('div',{'class':'row_info'}).text.strip())[0]
    except:
        mileage = 'NA'
    return mileage

def get_engcap(soup):
    try:
        engine_cap = re.findall(r'\d+,*\d+',soup.findAll('div',{'class':'row_info'})[4].text)[0]
    except:
        engine_cap = 'NA'
    return engine_cap

def get_regdate(soup):
    try:
        reg_date = re.findall(r'\d{2}-\w{3}-\d{4}',soup.findAll('tr',{'class':'row_bg'})[1].findAll('td',{'class':'rightColData'})[-1].text)[0]
    except:
        reg_date = 'NA'
    return reg_date

def get_power(soup):
    try:
        power = re.findall(r'\d+\.\d+',soup.findAll('div',{'class':'row_info'})[-2].text)[0]
    except:
        power = 'NA'
    return power


def get_owners(soup):
    try:
        owners = soup.findAll('div',{'class':'row_info'})[-1].text.strip()
    except:
        owners = 'NA'
    return owners

def get_type(soup):
    type_ = "NA"
    try:
        info = soup.findAll('div',{'class':'eachInfo'})
        for i in range(len(info)):
            if info[i].find('div', {'class':'row_title'}).text.strip() == "Type of Vehicle":
                type_ = info[i].find('div', {'class':'row_info'}).text.strip()
        if type_ == "NA":
                info = soup2.findAll('tr',{'class':'row_bg1'})
                type_ = re.findall(r'\n(.*)',info[0].text.strip())[0]
    except:
        type_ = "NA"
    
    return type_

def get_omv(soup):
    try:
        omv = "NA"
        info = soup.findAll('div',{'class':'eachInfo'})
        for row in info:
            if row.find('div', {'class':'row_title'}).text.strip() == "OMV":
                omv = re.findall(r'\d+,\d+',row.find('div', {'class':'row_info'}).text.strip())[0]
    except:
        omv = "NA"
    return omv

def get_arf(soup):
    try:
        arf = "NA"
        info = soup.findAll('div',{'class':'eachInfo'})
        for row in info:
            if row.find('div', {'class':'row_title'}).text.strip() == "ARF":
                arf = re.findall(r'\d+,\d+',row.find('div', {'class':'row_info'}).text.strip())[0]
    except:
        arf = "NA"
    return arf

def get_curb_weight(soup):
    try:
        c_weight = re.findall(r'\d+,\d+',soup.findAll('div',{'class':'row_info'})[5].text.strip())[0]
    except:
        c_weight = "NA"
    return c_weight

def get_year(soup):
    try:
        year = re.findall(r'\d{2}-\w{3}-\d{4}',soup2.findAll('tr',{'class':'row_bg'})[1].find('td',{'class':'rightColData'}).text.strip())[0]
    except:
        year = "NA"
    return year

def get_features(soup):
    try:
        features = re.findall(r'\n(.*)',soup.findAll('tr',{'class':'row_bg1'})[1].find('td').text)[1].strip()
    except:
        features = "NA"
    return features

def get_accessories(soup):
    try:
        acc = re.findall(r'\n(.*)',soup.findAll('tr',{'class':'row_bg1'})[2].find('td').text)[1].strip()
    except:
        acc = "NA"
    return acc

def get_description(soup):
    try:
        desc = re.findall(r'\n(.*)',soup.findAll('tr',{'class':'row_bg1'})[3].find('td').text)[1].strip()
    except:
        desc = "NA"
    return desc

def get_coe_left(soup):
    try:
        coe = re.findall(r"\((.*?)\)",soup.findAll('tr',{'class':'row_bg'})[1].findAll('td',{'class':'rightColData'})[-1].text)[0][:-9]
    except:
        coe = "NA"
    return coe

def get_new_name(soup):
    try:
        n_name = soup.findAll('tr',{'class':'row_bg1'})[1].find('a').text.strip()
    except:
        n_name= "NA"
    return n_name

'''
Access each link and store the info in a list
'''
def get_info(links):
    info = []
    for link in links:
        html = requests.get(link)
        soup = bs(html.text,'lxml')
        name = get_name(soup)
        price = get_price(soup)
        depre = get_depre(soup)
        mileage = get_miles(soup)
        eng_cap = get_engcap(soup)
        reg_date = get_regdate(soup)
        coe_left = get_coe_left(soup)
        power = get_power(soup)
        owners = get_owners(soup)
        #type_ = get_type(soup)
        omv = get_omv(soup)
        arf = get_arf(soup)
        #c_weight = get_curb_weight(soup)
        #year = get_year(soup)
        #features = get_features(soup)
        accessories = get_accessories(soup)
        #description = get_description(soup)
        n_name = get_new_name(soup)
        
        info.append([name,price,depre,mileage,eng_cap,power,reg_date,coe_left,owners,omv,arf,accessories,n_name])
    
    return info

In [34]:
'''
Save info for each page into csv
'''
def save_info(info,filename):
    
    with open(filename,'a',newline='') as f:

        writer = csv.writer(f)
        for row in info:
            writer.writerow(row)

In [29]:
'''
Test scraper that only scrapes one page --> page_num
returns a panda dataframe
'''
import time
import pandas as pd

def run_test_scraper(page_num):
    start_time = time.time()
    # Set 100 listings in one page
    url = "https://www.sgcarmart.com/used_cars/listing.php?BRSR={}&RPG=100&AVL=2&VEH=0"
    print(f"Test scraper running...")
    print("--------------------------")
    html = requests.get(url.format((page_num-1)*100))
    soup = bs(html.text,'lxml')
    links = get_links(soup)
    info = get_info(links)
    end_time = time.time()
    time_elapsed = end_time - start_time
    print(f"Page {page_num} completed in {time_elapsed/60}m")
    print("--------------------------")
    col_names = ["name","price","depreciation","mileage","eng_cap","power","reg_date","coe_left","owners","omv","arf","accessories","new_name"]
    df = pd.DataFrame(info, columns=col_names)
    
    return df

In [35]:
'''
save scraped data into csv --> dest_file
'''
def run_scraper():
    start_time = time.time()
    # Set 100 listings in one page
    url = "https://www.sgcarmart.com/used_cars/listing.php?BRSR={}&RPG=100&AVL=2&VEH=0"
    html = requests.get(url.format(0))
    soup = bs(html.text,'lxml')
    tp = total_pages(soup)
    print(f"Total number of pages is {tp}")
    print(f"Scraping in progress...")
    print("--------------------------")
    for page in range(0,tp*100,100):
        html = requests.get(url.format(page))
        soup = bs(html.text,'lxml')
        links = get_links(soup)
        info = get_info(links)
        save_info(info,"sgcars_updated.csv")
        print(f"Page {page//100+1} completed")
        print("--------------------------")
        if (page == tp):
            time_elapsed = end_time - start_time
            print(f"Scraping completed in {time_elapsed/60}m.")
        sleep(2)

In [31]:
test_df = run_test_scraper(6)

Test scraper running...
--------------------------
Page 6 completed in 0.8063158830006917m
--------------------------

In [32]:
test_df

,name,price,depreciation,mileage,eng_cap,power,reg_date,coe_left,owners,omv,arf,accessories,new_name
0,Toyota Corolla Altis 1.6A (New 5-yr COE),"62,800","12,550",NA,"1,598",90.0,21-Mar-2014,5yrs,1,"18,544","13,544","Keyless entry, leather seats, factory fitted a...",Toyota Corolla Altis (2014-2019)
1,Mazda 3 1.5A (New 5-yr COE),"59,800","11,950","113,284","1,496",88.0,21-Apr-2014,5yrs,2,"18,806","8,806","Electronic leather seats, navigation, reverse ...",Mazda 3 Sedan (2014-2019)
2,Mercedes-Benz GLB-Class GLB200 AMG Line 7-Seater,"174,666","21,770","50,000","1,332",120.0,01-Apr-2021,7yrs 9days,1,"36,660","43,324","Digital Instrument Cluster, Active Brake, Trac...",Mercedes-Benz GLB-Class (2020)
3,Toyota Corolla Altis 1.6A (COE till 08/2029),"60,800","11,230","115,249","1,598",80.0,20-Aug-2009,5yrs 4mths 28days,2,"17,853","17,853",Factory fitted interior.,Toyota Corolla Altis (2008-2013)
4,Mercedes-Benz C-Class C180 Avantgarde,"55,998","20,790","135,578","1,595",115.0,14-Jan-2016,1yr 9mths 22days,2,"35,428","36,600","Electric tailgate, multi function steering, fa...",Mercedes-Benz C-Class Saloon (2014-2018)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Mercedes-Benz E-Class E250 CGI Avantgarde (COE...,"77,800","13,860",NA,"1,796",150.0,16-Dec-2009,5yrs 7mths 9days,4,"55,057","55,057","Avantgarde trim. Xenon headlamps, LED daytime ...",Mercedes-Benz E-Class Saloon (2009-2013)
96,Peugeot 2008 Active Puretech 1.2A Glass Roof,"50,800","15,500","101,200","1,199",NA,03-Apr-2017,3yrs 11days,1,"17,683","7,683","In built infotainment, Bluetooth, glass roof, ...",Peugeot 2008 (2014-2018)
97,Mercedes-Benz E-Class E300 Coupe AMG Line,"162,000","28,700","95,000","1,991",NA,15-May-2018,4yrs 1mth 22days,1,"63,266","85,879","Keyless entry and push start, Sunroof, dual, z...",Mercedes-Benz E300
98,Kia Sorento Diesel 2.2A CRDi Sunroof,"115,000","18,660","79,116","2,199",NA,06-May-2019,5yrs 1mth 13days,1,"33,438","38,814",All vehicles have gone through a rigorous 160 ...,Kia Sorento Diesel (2015-2021)
99,Toyota Dyna 150 3.0M,"84,500","14,070",NA,"2,982",NA,24-Mar-2020,6yrs 1day,1,"29,349","1,468",-,Toyota Dyna 150 Diesel (2014)

In [36]:
run_scraper()

Total number of pages is 185
Scraping in progress...
--------------------------
Page 1 completed
--------------------------
Page 2 completed
--------------------------
Page 3 completed
--------------------------
Page 4 completed
--------------------------
Page 5 completed
--------------------------
Page 6 completed
--------------------------
Page 7 completed
--------------------------
Page 8 completed
--------------------------
Page 9 completed
--------------------------
Page 10 completed
--------------------------
Page 11 completed
--------------------------
Page 12 completed
--------------------------
Page 13 completed
--------------------------
Page 14 completed
--------------------------
Page 15 completed
--------------------------
Page 16 completed
--------------------------
Page 17 completed
--------------------------
Page 18 completed
--------------------------
Page 19 completed
--------------------------
Page 20 completed
--------------------------
Page 21 completed
--------------------------
Page 22 completed
--------------------------
Page 23 completed
--------------------------
Page 24 completed
--------------------------
Page 25 completed
--------------------------
Page 26 completed
--------------------------
Page 27 completed
--------------------------
Page 28 completed
--------------------------
Page 29 completed
--------------------------
Page 30 completed
--------------------------
Page 31 completed
--------------------------
Page 32 completed
--------------------------
Page 33 completed
--------------------------
Page 34 completed
--------------------------
Page 35 completed
--------------------------
Page 36 completed
--------------------------
Page 37 completed
--------------------------
Page 38 completed
--------------------------
Page 39 completed
--------------------------
Page 40 completed
--------------------------
Page 41 completed
--------------------------
Page 42 completed
--------------------------
Page 43 completed
--------------------------
Page 44 completed
--------------------------
Page 45 completed
--------------------------
Page 46 completed
--------------------------
Page 47 completed
--------------------------
Page 48 completed
--------------------------
Page 49 completed
--------------------------
Page 50 completed
--------------------------
Page 51 completed
--------------------------
Page 52 completed
--------------------------
Page 53 completed
--------------------------
Page 54 completed
--------------------------
Page 55 completed
--------------------------
Page 56 completed
--------------------------
Page 57 completed
--------------------------
Page 58 completed
--------------------------
Page 59 completed
--------------------------
Page 60 completed
--------------------------
Page 61 completed
--------------------------
Page 62 completed
--------------------------
Page 63 completed
--------------------------
Page 64 completed
--------------------------
Page 65 completed
--------------------------
Page 66 completed
--------------------------
Page 67 completed
--------------------------
Page 68 completed
--------------------------
Page 69 completed
--------------------------
Page 70 completed
--------------------------
Page 71 completed
--------------------------
Page 72 completed
--------------------------
Page 73 completed
--------------------------
Page 74 completed
--------------------------
Page 75 completed
--------------------------

KeyboardInterrupt:

In [38]:
import pandas as pd
import numpy as np

df = pd.read_csv("sgcars_updated.csv", names=["name","price","depreciation","mileage","eng_cap","power","reg_date","coe_left","owners","omv","arf","accessories","new_name"])
print(len(df))
df.head()

7500

,name,price,depreciation,mileage,eng_cap,power,reg_date,coe_left,owners,omv,arf,accessories,new_name
0,Honda Crossroad 1.8A X (COE till 06/2028),"59,800","13,980","126,000","1,799",103.0,25-Sep-2008,4yrs 3mths 8days,4,"18,505","14,806","Leather seats, sports rims, Android player, wi...",Honda Crossroad (2008-2011)
1,Nissan NV350 2.5M (New 5-yr COE),"45,800","9,150","205,606","2,488",NaN,24-Apr-2014,5yrs,1,"24,467","1,224",One ownership only. New 5 years COE. Original ...,Nissan NV350 (2015-2020)
2,Subaru Forester 2.0A XT Sunroof,"41,800","17,710","139,080","1,998",177.0,28-Jan-2016,1yr 10mths 5days,1,"17,994","17,994",This car comes with 6-mth ...,Subaru Forester (2013-2019)
3,Honda Shuttle Hybrid 1.5A,"70,800","16,100","53,000","1,496",101.0,18-Jun-2018,4yrs 2mths 26days,3,"20,712","5,000","Leather seats, media player with Bluetooth, sp...",Honda Shuttle Hybrid (2015)
4,Toyota Prius Plus Hybrid 1.8A,"88,800","17,300","95,000","1,798",100.0,29-Aug-2018,4yrs 5mths 6days,2,"30,006","24,009","PARF Car, Premium Ad Car, Hybrid Cars",Toyota Prius

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          7500 non-null   object
 1   price         7500 non-null   object
 2   depreciation  7356 non-null   object
 3   mileage       5742 non-null   object
 4   eng_cap       7320 non-null   object
 5   power         6263 non-null   float64
 6   reg_date      7477 non-null   object
 7   coe_left      7475 non-null   object
 8   owners        7404 non-null   object
 9   omv           7485 non-null   object
 10  arf           7301 non-null   object
 11  accessories   7500 non-null   object
 12  new_name      6430 non-null   object
dtypes: float64(1), object(12)
memory usage: 761.8+ KB

In [40]:
df.describe()

             power
count  6263.000000
mean    143.883139
std      83.290166
min      38.000000
25%      92.000000
50%     115.000000
75%     155.000000
max     735.000000

In [41]:
df[df.isin([np.nan]).any(axis=1)]

,name,price,depreciation,mileage,eng_cap,power,reg_date,coe_left,owners,omv,arf,accessories,new_name
1,Nissan NV350 2.5M (New 5-yr COE),"45,800","9,150","205,606","2,488",NaN,24-Apr-2014,5yrs,1,"24,467","1,224",One ownership only. New 5 years COE. Original ...,Nissan NV350 (2015-2020)
6,Honda S2000 2.2M (COE till 08/2028),"169,800","38,690",NaN,"2,156",178.0,11-Aug-2008,4yrs 4mths 19days,More than 6,"33,370","33,370",Complete original J's Racing Type-S CFRP aero ...,Honda S2000 (2000-2009)
9,Mercedes-Benz C-Class C180K (COE till 06/2028),"55,500","12,980",NaN,"1,796",115.0,29-Jul-2008,4yrs 3mths 8days,5,"37,046","37,046","Sports Rims, Factory Fitted Audio System, Reve...",NaN
11,Mercedes-Benz GLC-Class GLC300 Coupe 4MATIC,"231,988","28,920",NaN,"1,991",190.0,23-Dec-2020,6yrs 9mths,2,"56,236","73,225","10.25"" touchscreen central display. Apple CarP...",Mercedes-Benz GLC300
13,Nissan NV200 1.6A,"90,800","9,120",NaN,"1,597",NaN,04-Mar-2024,9yrs 11mths 9days,1,"15,484",NaN,New agent unit! Call us for more info!,Nissan NV200 Petrol
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7492,Toyota Hiace 2.8A DX,"88,800","13,740",NaN,"2,754",NaN,07-Sep-2020,6yrs 5mths 15days,1,"34,755","1,738",One owner only! New paint work! No repair need...,Toyota Hiace
7493,Mercedes-Benz B-Class B180 Style,"88,800","17,010",NaN,"1,595",90.0,23-Jul-2018,4yrs 4mths,3,"27,163","30,029",Keyless Start/stop. LED DRL. Dual Electrical S...,Mercedes-Benz B-Class (2012-2019)
7494,BMW 5 Series 535i (COE till 08/2030),"109,888","17,240",NaN,"2,979",225.0,06-Aug-2010,6yrs 4mths 14days,4,"51,319","51,319","Genuine M5 6pots BBK, Front 400mm, rear 380mm,...",BMW 5 Series Sedan (2010-2017)
7498,Land Rover Defender 90 Puma (COE till 06/2027),"63,800","19,490",NaN,"2,402",NaN,21-May-2008,3yrs 3mths 8days,2,"40,750","2,038",Pioneer double din headunit with Bluetooth (An...,Land Rover Defender
7499,Mercedes-Benz C-Class C180 Mild Hybrid Avantgarde,"248,800","23,110",NaN,"1,496",140.0,27-Dec-2023,9yrs 9mths 4days,1,"38,552","45,973","Dual elec/mem seats. 11.9"" MBUX media display....",Mercedes-Benz C-Class Saloon Mild Hybrid (2022)

In [42]:
# remove any rows with null values
df_cleaned = df.replace("NA", np.nan)
df_cleaned = df_cleaned.dropna(how="any")
df_cleaned[df_cleaned.isin([np.nan]).any(axis=1)]
len(df_cleaned)

4487

In [45]:
# Data Cleaning

# change data types
num_cols = ["price", "depreciation", "mileage", "owners", "omv", "arf", "eng_cap", "power"]
df_cleaned["owners"] = df_cleaned["owners"].str.replace("More than 6", "6")
for col in num_cols:
    df_cleaned[col] = df_cleaned[col].astype("string").str.replace(",","").astype("float")

/var/folders/jq/3zk57sh96rj5fmr5m8znw03r0000gn/T/ipykernel_19491/3017250166.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["owners"] = df_cleaned["owners"].replace("More than 6", "6")
/var/folders/jq/3zk57sh96rj5fmr5m8znw03r0000gn/T/ipykernel_19491/3017250166.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = df_cleaned[col].replace(",","").astype("int")

In [46]:
# remove parenthesis in car name

df_cleaned["name"] = df_cleaned["name"].str.replace(r'\(([^)]+)\)', "", regex=True)
df_cleaned.head()

/var/folders/jq/3zk57sh96rj5fmr5m8znw03r0000gn/T/ipykernel_19491/2026331064.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["name"] = df_cleaned["name"].str.replace(r'\(([^)]+)\)', "", regex=True)

,name,price,depreciation,mileage,eng_cap,power,reg_date,coe_left,owners,omv,arf,accessories,new_name
0,Honda Crossroad 1.8A X,59800,13980,126000,1799,103,25-Sep-2008,4yrs 3mths 8days,4,18505,14806,"Leather seats, sports rims, Android player, wi...",Honda Crossroad (2008-2011)
2,Subaru Forester 2.0A XT Sunroof,41800,17710,139080,1998,177,28-Jan-2016,1yr 10mths 5days,1,17994,17994,This car comes with 6-mth ...,Subaru Forester (2013-2019)
3,Honda Shuttle Hybrid 1.5A,70800,16100,53000,1496,101,18-Jun-2018,4yrs 2mths 26days,3,20712,5000,"Leather seats, media player with Bluetooth, sp...",Honda Shuttle Hybrid (2015)
4,Toyota Prius Plus Hybrid 1.8A,88800,17300,95000,1798,100,29-Aug-2018,4yrs 5mths 6days,2,30006,24009,"PARF Car, Premium Ad Car, Hybrid Cars",Toyota Prius
5,Audi Q2 1.0A TFSI S-tronic,69800,16230,54000,999,85,08-Dec-2017,3yrs 8mths 15days,2,26517,19124,"Keyless entry/start, Audi MMI, Audi drive sele...",Audi Q2 (2017)

In [47]:
# convert coe_left to years

def convert_to_years(x):
    
    years = re.search(r'(\d+)yrs', x)
    if years == None:
        years = 0
    else:
        years = int(years.group(1))
                
    months = re.search(r'(\d+)mths', x)
    if months == None:
        months = 0
    else:
        months = int(months.group(1))
                
    days = re.search(r'(\d+)days', x)
    if days == None:
        days = 0
    else:
        days = int(days.group(1))
    
    total_years = years + months/12 + days/365
    return round(total_years,2)

df_cleaned["coe_left"] = df_cleaned["coe_left"].apply(convert_to_years)

/var/folders/jq/3zk57sh96rj5fmr5m8znw03r0000gn/T/ipykernel_19491/2853966396.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["coe_left"] = df_cleaned["coe_left"].apply(convert_to_years)

In [48]:
df_cleaned.head()

,name,price,depreciation,mileage,eng_cap,power,reg_date,coe_left,owners,omv,arf,accessories,new_name
0,Honda Crossroad 1.8A X,59800,13980,126000,1799,103,25-Sep-2008,4.27,4,18505,14806,"Leather seats, sports rims, Android player, wi...",Honda Crossroad (2008-2011)
2,Subaru Forester 2.0A XT Sunroof,41800,17710,139080,1998,177,28-Jan-2016,0.85,1,17994,17994,This car comes with 6-mth ...,Subaru Forester (2013-2019)
3,Honda Shuttle Hybrid 1.5A,70800,16100,53000,1496,101,18-Jun-2018,4.24,3,20712,5000,"Leather seats, media player with Bluetooth, sp...",Honda Shuttle Hybrid (2015)
4,Toyota Prius Plus Hybrid 1.8A,88800,17300,95000,1798,100,29-Aug-2018,4.43,2,30006,24009,"PARF Car, Premium Ad Car, Hybrid Cars",Toyota Prius
5,Audi Q2 1.0A TFSI S-tronic,69800,16230,54000,999,85,08-Dec-2017,3.71,2,26517,19124,"Keyless entry/start, Audi MMI, Audi drive sele...",Audi Q2 (2017)

In [50]:
df_cleaned.to_csv("sgcarmart_v2.csv", index=False)